@mixin beveled-corners($bg, $tl: 0, $tr: $tl, $br: $tl, $bl: $tr) {
    background-color: $bg;
    background: linear-gradient(135deg, transparent $tl, $bg 0) top left,
        linear-gradient(-135deg, transparent $tr, $bg 0) top right,
        linear-gradient(-45deg, transparent $br, $bg 0) bottom right,
        linear-gradient(45deg, transparent $bl, $bg 0) bottom left;
    background-size: 50%;
    background-repeat: no-repeat;
}

@include beveled-corners(#58a, 15px, 5px);
